Gas_Thermal_Processing.json
{"flowContents":{"identifier":"38d25971-6296-36ea-8c8c-721f16c62362","name":"Gas Thermal Processing","comments":"","position":{"x":1968.0,"y":24.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"a70b3dbd-87c1-3a72-8345-ef9739a83231","name":"PutMongoRecord","comments":"","position":{"x":272.0,"y":464.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-mongodb-nar","version":"1.15.3"},"style":{},"type":"org.apache.nifi.processors.mongodb.PutMongoRecord","properties":{"mongo-client-service":"479ac6b0-708a-3782-ae93-8214db0dfb46","insert_count":"100","Mongo URI":null,"ssl-context-service":null,"ssl-client-auth":"REQUIRED","Mongo Collection Name":"garden3","record-reader":"2b1e4a8e-a12e-35ee-b446-8efb00f302bb","Mongo Database Name":"inventory","Write Concern":"ACKNOWLEDGED"},"propertyDescriptors":{"mongo-client-service":{"name":"mongo-client-service","displayName":"Client Service","identifiesControllerService":true,"sensitive":false},"insert_count":{"name":"insert_count","displayName":"Insert Batch Size","identifiesControllerService":false,"sensitive":false},"Mongo URI":{"name":"Mongo URI","displayName":"Mongo URI","identifiesControllerService":false,"sensitive":false},"ssl-context-service":{"name":"ssl-context-service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"ssl-client-auth":{"name":"ssl-client-auth","displayName":"Client Auth","identifiesControllerService":false,"sensitive":false},"Mongo Collection Name":{"name":"Mongo Collection Name","displayName":"Mongo Collection Name","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"Mongo Database Name":{"name":"Mongo Database Name","displayName":"Mongo Database Name","identifiesControllerService":false,"sensitive":false},"Write Concern":{"name":"Write Concern","displayName":"Write Concern","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"38d25971-6296-36ea-8c8c-721f16c62362"},{"identifier":"bee76dfd-8026-3186-88ef-c7dfb56e278f","name":"GetMongoRecord","comments":"","position":{"x":1312.0,"y":-176.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-mongodb-nar","version":"1.15.3"},"style":{},"type":"org.apache.nifi.processors.mongodb.GetMongoRecord","properties":{"mongo-client-service":null,"get-mongo-record-writer-factory":null,"mongo-query-attribute":null,"Query":null,"Batch Size":null,"mongodb-schema-name":"${schema.name}","Mongo Collection Name":null,"Projection":null,"Sort":null,"Mongo Database Name":null,"Limit":null},"propertyDescriptors":{"mongo-client-service":{"name":"mongo-client-service","displayName":"Client Service","identifiesControllerService":true,"sensitive":false},"get-mongo-record-writer-factory":{"name":"get-mongo-record-writer-factory","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"mongo-query-attribute":{"name":"mongo-query-attribute","displayName":"Query Output Attribute","identifiesControllerService":false,"sensitive":false},"Query":{"name":"Query","displayName":"Query","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"mongodb-schema-name":{"name":"mongodb-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"Mongo Collection Name":{"name":"Mongo Collection Name","displayName":"Mongo Collection Name","identifiesControllerService":false,"sensitive":false},"Projection":{"name":"Projection","displayName":"Projection","identifiesControllerService":false,"sensitive":false},"Sort":{"name":"Sort","displayName":"Sort","identifiesControllerService":false,"sensitive":false},"Mongo Database Name":{"name":"Mongo Database Name","displayName":"Mongo Database Name","identifiesControllerService":false,"sensitive":false},"Limit":{"name":"Limit","displayName":"Limit","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"38d25971-6296-36ea-8c8c-721f16c62362"},{"identifier":"95fb08ef-d359-30f8-895a-24445cc29f0c","name":"Filter, Route, Transform","comments":"","position":{"x":264.0,"y":264.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.15.3"},"style":{},"type":"org.apache.nifi.processors.standard.QueryRecord","properties":{"all":"SELECT * \nFROM FLOWFILE\nWHERE CAST(equivalentco2ppm as FLOAT) > 300\n","cache-schema":"true","dbf-default-precision":"10","record-writer":"5c0c576d-4749-3c15-831c-1c6c6e4e5c2f","record-reader":"2b1e4a8e-a12e-35ee-b446-8efb00f302bb","include-zero-record-flowfiles":"false","dbf-default-scale":"0"},"propertyDescriptors":{"all":{"name":"all","displayName":"all","identifiesControllerService":false,"sensitive":false},"cache-schema":{"name":"cache-schema","displayName":"Cache Schema","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"38d25971-6296-36ea-8c8c-721f16c62362"},{"identifier":"2046d97b-92c1-3bd2-b692-f687173950a0","name":"Store File","comments":"","position":{"x":272.0,"y":656.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.15.3"},"style":{},"type":"org.apache.nifi.processors.standard.PutFile","properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/dev/null","Conflict Resolution Strategy":"ignore"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"38d25971-6296-36ea-8c8c-721f16c62362"},{"identifier":"088f18d3-b673-3ece-ac0b-4e5ceeca7c23","name":"PublishPulsarRecord","comments":"","position":{"x":1488.0,"y":256.0},"bundle":{"group":"io.streamnative.connectors","artifact":"nifi-pulsar-nar","version":"1.15.2"},"style":{},"type":"org.apache.nifi.processors.pulsar.pubsub.PublishPulsarRecord","properties":{"MAX_ASYNC_REQUESTS":"50","BATCH_INTERVAL":"10 ms","COMPRESSION_TYPE":"NONE","PULSAR_CLIENT_SERVICE":null,"MESSAGE_ROUTING_MODE":"RoundRobinPartition","RECORD_WRITER":null,"BLOCK_IF_QUEUE_FULL":"false","BATCHING_MAX_MESSAGES":"1000","MAPPED_MESSAGE_PROPERTIES":"","PENDING_MAX_MESSAGES":"1000","TOPIC":null,"MESSAGE_DEMARCATOR":null,"ASYNC_ENABLED":"false","RECORD_READER":null,"MESSAGE_KEY":null,"BATCHING_ENABLED":"false"},"propertyDescriptors":{"MAX_ASYNC_REQUESTS":{"name":"MAX_ASYNC_REQUESTS","displayName":"Maximum Async Requests","identifiesControllerService":false,"sensitive":false},"BATCH_INTERVAL":{"name":"BATCH_INTERVAL","displayName":"Batch Interval","identifiesControllerService":false,"sensitive":false},"COMPRESSION_TYPE":{"name":"COMPRESSION_TYPE","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"PULSAR_CLIENT_SERVICE":{"name":"PULSAR_CLIENT_SERVICE","displayName":"Pulsar Client Service","identifiesControllerService":true,"sensitive":false},"MESSAGE_ROUTING_MODE":{"name":"MESSAGE_ROUTING_MODE","displayName":"Message Routing Mode","identifiesControllerService":false,"sensitive":false},"RECORD_WRITER":{"name":"RECORD_WRITER","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"BLOCK_IF_QUEUE_FULL":{"name":"BLOCK_IF_QUEUE_FULL","displayName":"Block if Message Queue Full","identifiesControllerService":false,"sensitive":false},"BATCHING_MAX_MESSAGES":{"name":"BATCHING_MAX_MESSAGES","displayName":"Batching Max Messages","identifiesControllerService":false,"sensitive":false},"MAPPED_MESSAGE_PROPERTIES":{"name":"MAPPED_MESSAGE_PROPERTIES","displayName":"Mapped Message Properties","identifiesControllerService":false,"sensitive":false},"PENDING_MAX_MESSAGES":{"name":"PENDING_MAX_MESSAGES","displayName":"Max Pending Messages","identifiesControllerService":false,"sensitive":false},"TOPIC":{"name":"TOPIC","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"MESSAGE_DEMARCATOR":{"name":"MESSAGE_DEMARCATOR","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false},"ASYNC_ENABLED":{"name":"ASYNC_ENABLED","displayName":"Async Enabled","identifiesControllerService":false,"sensitive":false},"RECORD_READER":{"name":"RECORD_READER","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"MESSAGE_KEY":{"name":"MESSAGE_KEY","displayName":"Message Key","identifiesControllerService":false,"sensitive":false},"BATCHING_ENABLED":{"name":"BATCHING_ENABLED","displayName":"Batching Enabled","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"38d25971-6296-36ea-8c8c-721f16c62362"},{"identifier":"a5d7237e-4741-384a-ae85-edcee7dd05ef","name":"Consume Pulsar Records -garden3","comments":"","position":{"x":256.0,"y":80.0},"bundle":{"group":"io.streamnative.connectors","artifact":"nifi-pulsar-nar","version":"1.15.2"},"style":{},"type":"org.apache.nifi.processors.pulsar.pubsub.ConsumePulsarRecord","properties":{"MAX_ASYNC_REQUESTS":"50","PULSAR_CLIENT_SERVICE":"53f1d1df-3205-364a-b67e-4f9642fb19a9","Max Wait Time":"5 seconds","Record Reader":"2b1e4a8e-a12e-35ee-b446-8efb00f302bb","SUBSCRIPTION_NAME":"nifi-garden3-consumer-sub","ACK_TIMEOUT":"30 sec","MESSAGE_DEMARCATOR":"\n","PRIORITY_LEVEL":"5","ASYNC_ENABLED":"false","CONSUMER_BATCH_SIZE":"1000","TOPICS":"persistent://public/default/garden3","RECEIVER_QUEUE_SIZE":"1000","SUBSCRIPTION_TYPE":"Shared","MAPPED_FLOWFILE_ATTRIBUTES":"","Record Writer":"5c0c576d-4749-3c15-831c-1c6c6e4e5c2f","TOPICS_PATTERN":null,"CONSUMER_NAME":"nifi-garden3-consumer"},"propertyDescriptors":{"MAX_ASYNC_REQUESTS":{"name":"MAX_ASYNC_REQUESTS","displayName":"Maximum Async Requests","identifiesControllerService":false,"sensitive":false},"PULSAR_CLIENT_SERVICE":{"name":"PULSAR_CLIENT_SERVICE","displayName":"Pulsar Client Service","identifiesControllerService":true,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"SUBSCRIPTION_NAME":{"name":"SUBSCRIPTION_NAME","displayName":"Subscription Name","identifiesControllerService":false,"sensitive":false},"ACK_TIMEOUT":{"name":"ACK_TIMEOUT","displayName":"Acknowledgment Timeout","identifiesControllerService":false,"sensitive":false},"MESSAGE_DEMARCATOR":{"name":"MESSAGE_DEMARCATOR","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false},"PRIORITY_LEVEL":{"name":"PRIORITY_LEVEL","displayName":"Consumer Priority Level","identifiesControllerService":false,"sensitive":false},"ASYNC_ENABLED":{"name":"ASYNC_ENABLED","displayName":"Async Enabled","identifiesControllerService":false,"sensitive":false},"CONSUMER_BATCH_SIZE":{"name":"CONSUMER_BATCH_SIZE","displayName":"Consumer Message Batch Size","identifiesControllerService":false,"sensitive":false},"TOPICS":{"name":"TOPICS","displayName":"Topic Names","identifiesControllerService":false,"sensitive":false},"RECEIVER_QUEUE_SIZE":{"name":"RECEIVER_QUEUE_SIZE","displayName":"Consumer Receiver Queue Size","identifiesControllerService":false,"sensitive":false},"SUBSCRIPTION_TYPE":{"name":"SUBSCRIPTION_TYPE","displayName":"Subscription Type","identifiesControllerService":false,"sensitive":false},"MAPPED_FLOWFILE_ATTRIBUTES":{"name":"MAPPED_FLOWFILE_ATTRIBUTES","displayName":"Mapped FlowFile Attributes","identifiesControllerService":false,"sensitive":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"TOPICS_PATTERN":{"name":"TOPICS_PATTERN","displayName":"Topics Pattern","identifiesControllerService":false,"sensitive":false},"CONSUMER_NAME":{"name":"CONSUMER_NAME","displayName":"Consumer Name","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"38d25971-6296-36ea-8c8c-721f16c62362"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"2e924dba-91b0-32ec-b327-8ed6aff8db5c","name":"","source":{"id":"95fb08ef-d359-30f8-895a-24445cc29f0c","type":"PROCESSOR","groupId":"38d25971-6296-36ea-8c8c-721f16c62362","name":"Filter, Route, Transform","comments":""},"destination":{"id":"aab49a94-5bf9-360a-b847-10ea83cad568","type":"FUNNEL","groupId":"38d25971-6296-36ea-8c8c-721f16c62362","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"38d25971-6296-36ea-8c8c-721f16c62362"},{"identifier":"a2dbe54b-db83-3a73-998d-9cf331f34114","name":"","source":{"id":"a5d7237e-4741-384a-ae85-edcee7dd05ef","type":"PROCESSOR","groupId":"38d25971-6296-36ea-8c8c-721f16c62362","name":"Consume Pulsar Records -garden3","comments":""},"destination":{"id":"95fb08ef-d359-30f8-895a-24445cc29f0c","type":"PROCESSOR","groupId":"38d25971-6296-36ea-8c8c-721f16c62362","name":"Filter, Route, Transform","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"38d25971-6296-36ea-8c8c-721f16c62362"},{"identifier":"e4c7a561-a822-3edb-a3aa-d41b0ca73a18","name":"","source":{"id":"95fb08ef-d359-30f8-895a-24445cc29f0c","type":"PROCESSOR","groupId":"38d25971-6296-36ea-8c8c-721f16c62362","name":"Filter, Route, Transform","comments":""},"destination":{"id":"a70b3dbd-87c1-3a72-8345-ef9739a83231","type":"PROCESSOR","groupId":"38d25971-6296-36ea-8c8c-721f16c62362","name":"PutMongoRecord","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["all"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"38d25971-6296-36ea-8c8c-721f16c62362"},{"identifier":"397e5fa1-30d4-3c80-894d-41637c8ae973","name":"","source":{"id":"bee76dfd-8026-3186-88ef-c7dfb56e278f","type":"PROCESSOR","groupId":"38d25971-6296-36ea-8c8c-721f16c62362","name":"GetMongoRecord","comments":""},"destination":{"id":"d740ccaf-aa2e-3b3d-bea1-71f33a68e8bd","type":"FUNNEL","groupId":"38d25971-6296-36ea-8c8c-721f16c62362","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"38d25971-6296-36ea-8c8c-721f16c62362"},{"identifier":"e74cb020-4b6c-3dcc-a91f-342f29403c5e","name":"","source":{"id":"a70b3dbd-87c1-3a72-8345-ef9739a83231","type":"PROCESSOR","groupId":"38d25971-6296-36ea-8c8c-721f16c62362","name":"PutMongoRecord","comments":""},"destination":{"id":"2046d97b-92c1-3bd2-b692-f687173950a0","type":"PROCESSOR","groupId":"38d25971-6296-36ea-8c8c-721f16c62362","name":"Store File","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":448.0,"y":624.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"38d25971-6296-36ea-8c8c-721f16c62362"},{"identifier":"7f187aa3-af1d-351f-911e-344424a8998f","name":"","source":{"id":"a70b3dbd-87c1-3a72-8345-ef9739a83231","type":"PROCESSOR","groupId":"38d25971-6296-36ea-8c8c-721f16c62362","name":"PutMongoRecord","comments":""},"destination":{"id":"aab49a94-5bf9-360a-b847-10ea83cad568","type":"FUNNEL","groupId":"38d25971-6296-36ea-8c8c-721f16c62362","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"38d25971-6296-36ea-8c8c-721f16c62362"},{"identifier":"6b8eda96-cd40-3788-ad50-f056b44ad93f","name":"","source":{"id":"a5d7237e-4741-384a-ae85-edcee7dd05ef","type":"PROCESSOR","groupId":"38d25971-6296-36ea-8c8c-721f16c62362","name":"Consume Pulsar Records -garden3","comments":""},"destination":{"id":"aab49a94-5bf9-360a-b847-10ea83cad568","type":"FUNNEL","groupId":"38d25971-6296-36ea-8c8c-721f16c62362","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["parse_failure"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"38d25971-6296-36ea-8c8c-721f16c62362"}],"labels":[],"funnels":[{"identifier":"d740ccaf-aa2e-3b3d-bea1-71f33a68e8bd","position":{"x":1381.0,"y":186.0},"componentType":"FUNNEL","groupIdentifier":"38d25971-6296-36ea-8c8c-721f16c62362"},{"identifier":"aab49a94-5bf9-360a-b847-10ea83cad568","position":{"x":-96.0,"y":328.0},"componentType":"FUNNEL","groupIdentifier":"38d25971-6296-36ea-8c8c-721f16c62362"}],"controllerServices":[{"identifier":"479ac6b0-708a-3782-ae93-8214db0dfb46","name":"DockerLocalMongoDBControllerService","comments":"","type":"org.apache.nifi.mongodb.MongoDBControllerService","bundle":{"group":"org.apache.nifi","artifact":"nifi-mongodb-services-nar","version":"1.15.3"},"controllerServiceApis":[{"type":"org.apache.nifi.mongodb.MongoDBClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-mongodb-client-service-api-nar","version":"1.15.3"}}],"properties":{"ssl-context-service":null,"ssl-client-auth":"REQUIRED","Database User":"debezium","mongo-uri":"mongodb://pulsar1:27017"},"propertyDescriptors":{"ssl-context-service":{"name":"ssl-context-service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"ssl-client-auth":{"name":"ssl-client-auth","displayName":"Client Auth","identifiesControllerService":false,"sensitive":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false},"mongo-uri":{"name":"mongo-uri","displayName":"Mongo URI","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"38d25971-6296-36ea-8c8c-721f16c62362"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":100000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{"53f1d1df-3205-364a-b67e-4f9642fb19a9":{"identifier":"53f1d1df-3205-364a-b67e-4f9642fb19a9","name":"Pulsar1_15_Pulsar1"},"2b1e4a8e-a12e-35ee-b446-8efb00f302bb":{"identifier":"2b1e4a8e-a12e-35ee-b446-8efb00f302bb","name":"Infer JsonTreeReader"},"5c0c576d-4749-3c15-831c-1c6c6e4e5c2f":{"identifier":"5c0c576d-4749-3c15-831c-1c6c6e4e5c2f","name":"Standard Inherit JsonRecordSetWriter"}},"parameterContexts":{},"flowEncodingVersion":"1.0"}