GASTHERMALPROCESSING.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>c09b4248-017e-1000-fe86-f0e62820db64</groupId>
    <name>GASTHERMALPROCESSING</name>
    <snippet>
        <controllerServices>
            <id>2b1e4a8e-a12e-35ee-0000-000000000000</id>
            <parentGroupId>6f85505f-7693-3e2a-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.15.3</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-text-property</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-inference-cache</key>
                    <value>
                        <dependencies>
                            <dependentValues>infer-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-inference-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
            </descriptors>
            <name>Infer JsonTreeReader</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>infer-schema</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>schema-inference-cache</key>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.json.JsonTreeReader</type>
        </controllerServices>
        <controllerServices>
            <id>53f1d1df-3205-364a-0000-000000000000</id>
            <parentGroupId>6f85505f-7693-3e2a-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-pulsar-nar</artifact>
                <group>io.streamnative.connectors</group>
                <version>1.15.2</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>PULSAR_SERVICE_URL</key>
                    <value>
                        <name>PULSAR_SERVICE_URL</name>
                    </value>
                </entry>
                <entry>
                    <key>AUTHENTICATION_SERVICE</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.pulsar.auth.PulsarClientAuthenticationService</identifiesControllerService>
                        <name>AUTHENTICATION_SERVICE</name>
                    </value>
                </entry>
                <entry>
                    <key>CONCURRENT_LOOKUP_REQUESTS</key>
                    <value>
                        <name>CONCURRENT_LOOKUP_REQUESTS</name>
                    </value>
                </entry>
                <entry>
                    <key>CONNECTIONS_PER_BROKER</key>
                    <value>
                        <name>CONNECTIONS_PER_BROKER</name>
                    </value>
                </entry>
                <entry>
                    <key>IO_THREADS</key>
                    <value>
                        <name>IO_THREADS</name>
                    </value>
                </entry>
                <entry>
                    <key>KEEP_ALIVE_INTERVAL</key>
                    <value>
                        <name>KEEP_ALIVE_INTERVAL</name>
                    </value>
                </entry>
                <entry>
                    <key>LISTENER_THREADS</key>
                    <value>
                        <name>LISTENER_THREADS</name>
                    </value>
                </entry>
                <entry>
                    <key>MAXIMUM_LOOKUP_REQUESTS</key>
                    <value>
                        <name>MAXIMUM_LOOKUP_REQUESTS</name>
                    </value>
                </entry>
                <entry>
                    <key>MAXIMUM_REJECTED_REQUESTS</key>
                    <value>
                        <name>MAXIMUM_REJECTED_REQUESTS</name>
                    </value>
                </entry>
                <entry>
                    <key>OPERATION_TIMEOUT</key>
                    <value>
                        <name>OPERATION_TIMEOUT</name>
                    </value>
                </entry>
                <entry>
                    <key>STATS_INTERVAL</key>
                    <value>
                        <name>STATS_INTERVAL</name>
                    </value>
                </entry>
                <entry>
                    <key>ALLOW_TLS_INSECURE_CONNECTION</key>
                    <value>
                        <name>ALLOW_TLS_INSECURE_CONNECTION</name>
                    </value>
                </entry>
                <entry>
                    <key>ENABLE_TLS_HOSTNAME_VERIFICATION</key>
                    <value>
                        <name>ENABLE_TLS_HOSTNAME_VERIFICATION</name>
                    </value>
                </entry>
                <entry>
                    <key>USE_TCP_NO_DELAY</key>
                    <value>
                        <name>USE_TCP_NO_DELAY</name>
                    </value>
                </entry>
            </descriptors>
            <name>Pulsar1_15_Pulsar1</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>PULSAR_SERVICE_URL</key>
                    <value>pulsar://pulsar1:6650</value>
                </entry>
                <entry>
                    <key>AUTHENTICATION_SERVICE</key>
                </entry>
                <entry>
                    <key>CONCURRENT_LOOKUP_REQUESTS</key>
                    <value>5000</value>
                </entry>
                <entry>
                    <key>CONNECTIONS_PER_BROKER</key>
                    <value>3</value>
                </entry>
                <entry>
                    <key>IO_THREADS</key>
                    <value>3</value>
                </entry>
                <entry>
                    <key>KEEP_ALIVE_INTERVAL</key>
                    <value>60 sec</value>
                </entry>
                <entry>
                    <key>LISTENER_THREADS</key>
                    <value>3</value>
                </entry>
                <entry>
                    <key>MAXIMUM_LOOKUP_REQUESTS</key>
                    <value>50000</value>
                </entry>
                <entry>
                    <key>MAXIMUM_REJECTED_REQUESTS</key>
                    <value>50</value>
                </entry>
                <entry>
                    <key>OPERATION_TIMEOUT</key>
                    <value>30 sec</value>
                </entry>
                <entry>
                    <key>STATS_INTERVAL</key>
                    <value>60 sec</value>
                </entry>
                <entry>
                    <key>ALLOW_TLS_INSECURE_CONNECTION</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>ENABLE_TLS_HOSTNAME_VERIFICATION</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>USE_TCP_NO_DELAY</key>
                    <value>false</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.pulsar.StandardPulsarClientService</type>
        </controllerServices>
        <controllerServices>
            <id>5c0c576d-4749-3c15-0000-000000000000</id>
            <parentGroupId>6f85505f-7693-3e2a-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.15.3</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>
                        <name>Schema Write Strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-protocol-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>Schema Write Strategy</propertyName>
                        </dependencies>
                        <name>schema-protocol-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-text-property</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Pretty Print JSON</key>
                    <value>
                        <name>Pretty Print JSON</name>
                    </value>
                </entry>
                <entry>
                    <key>suppress-nulls</key>
                    <value>
                        <name>suppress-nulls</name>
                    </value>
                </entry>
                <entry>
                    <key>output-grouping</key>
                    <value>
                        <name>output-grouping</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>
                        <name>compression-format</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-level</key>
                    <value>
                        <dependencies>
                            <dependentValues>gzip</dependentValues>
                            <propertyName>compression-format</propertyName>
                        </dependencies>
                        <name>compression-level</name>
                    </value>
                </entry>
            </descriptors>
            <name>Standard Inherit JsonRecordSetWriter</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>no-schema</value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                </entry>
                <entry>
                    <key>schema-protocol-version</key>
                    <value>1</value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>inherit-record-schema</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
                <entry>
                    <key>Pretty Print JSON</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>suppress-nulls</key>
                    <value>never-suppress</value>
                </entry>
                <entry>
                    <key>output-grouping</key>
                    <value>output-array</value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>none</value>
                </entry>
                <entry>
                    <key>compression-level</key>
                    <value>1</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.json.JsonRecordSetWriter</type>
        </controllerServices>
        <processGroups>
            <id>38d25971-6296-36ea-0000-000000000000</id>
            <parentGroupId>6f85505f-7693-3e2a-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <versionedComponentId>38d25971-6296-36ea-8c8c-721f16c62362</versionedComponentId>
            <comments></comments>
            <contents>
                <connections>
                    <id>2e924dba-91b0-32ec-0000-000000000000</id>
                    <parentGroupId>38d25971-6296-36ea-0000-000000000000</parentGroupId>
                    <versionedComponentId>2e924dba-91b0-32ec-b327-8ed6aff8db5c</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>100000</backPressureObjectThreshold>
                    <destination>
                        <groupId>38d25971-6296-36ea-0000-000000000000</groupId>
                        <id>aab49a94-5bf9-360a-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>aab49a94-5bf9-360a-b847-10ea83cad568</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>38d25971-6296-36ea-0000-000000000000</groupId>
                        <id>95fb08ef-d359-30f8-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>95fb08ef-d359-30f8-895a-24445cc29f0c</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>397e5fa1-30d4-3c80-0000-000000000000</id>
                    <parentGroupId>38d25971-6296-36ea-0000-000000000000</parentGroupId>
                    <versionedComponentId>397e5fa1-30d4-3c80-894d-41637c8ae973</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>100000</backPressureObjectThreshold>
                    <destination>
                        <groupId>38d25971-6296-36ea-0000-000000000000</groupId>
                        <id>d740ccaf-aa2e-3b3d-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>d740ccaf-aa2e-3b3d-bea1-71f33a68e8bd</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>38d25971-6296-36ea-0000-000000000000</groupId>
                        <id>bee76dfd-8026-3186-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>bee76dfd-8026-3186-88ef-c7dfb56e278f</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>6b8eda96-cd40-3788-0000-000000000000</id>
                    <parentGroupId>38d25971-6296-36ea-0000-000000000000</parentGroupId>
                    <versionedComponentId>6b8eda96-cd40-3788-ad50-f056b44ad93f</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>100000</backPressureObjectThreshold>
                    <destination>
                        <groupId>38d25971-6296-36ea-0000-000000000000</groupId>
                        <id>aab49a94-5bf9-360a-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>aab49a94-5bf9-360a-b847-10ea83cad568</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>parse_failure</selectedRelationships>
                    <source>
                        <groupId>38d25971-6296-36ea-0000-000000000000</groupId>
                        <id>a5d7237e-4741-384a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>a5d7237e-4741-384a-ae85-edcee7dd05ef</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>7f187aa3-af1d-351f-0000-000000000000</id>
                    <parentGroupId>38d25971-6296-36ea-0000-000000000000</parentGroupId>
                    <versionedComponentId>7f187aa3-af1d-351f-911e-344424a8998f</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>100000</backPressureObjectThreshold>
                    <destination>
                        <groupId>38d25971-6296-36ea-0000-000000000000</groupId>
                        <id>aab49a94-5bf9-360a-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>aab49a94-5bf9-360a-b847-10ea83cad568</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>38d25971-6296-36ea-0000-000000000000</groupId>
                        <id>a70b3dbd-87c1-3a72-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>a70b3dbd-87c1-3a72-8345-ef9739a83231</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>a2dbe54b-db83-3a73-0000-000000000000</id>
                    <parentGroupId>38d25971-6296-36ea-0000-000000000000</parentGroupId>
                    <versionedComponentId>a2dbe54b-db83-3a73-998d-9cf331f34114</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>100000</backPressureObjectThreshold>
                    <destination>
                        <groupId>38d25971-6296-36ea-0000-000000000000</groupId>
                        <id>95fb08ef-d359-30f8-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>95fb08ef-d359-30f8-895a-24445cc29f0c</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>38d25971-6296-36ea-0000-000000000000</groupId>
                        <id>a5d7237e-4741-384a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>a5d7237e-4741-384a-ae85-edcee7dd05ef</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>e4c7a561-a822-3edb-0000-000000000000</id>
                    <parentGroupId>38d25971-6296-36ea-0000-000000000000</parentGroupId>
                    <versionedComponentId>e4c7a561-a822-3edb-a3aa-d41b0ca73a18</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>100000</backPressureObjectThreshold>
                    <destination>
                        <groupId>38d25971-6296-36ea-0000-000000000000</groupId>
                        <id>a70b3dbd-87c1-3a72-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>a70b3dbd-87c1-3a72-8345-ef9739a83231</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>all</selectedRelationships>
                    <source>
                        <groupId>38d25971-6296-36ea-0000-000000000000</groupId>
                        <id>95fb08ef-d359-30f8-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>95fb08ef-d359-30f8-895a-24445cc29f0c</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>e74cb020-4b6c-3dcc-0000-000000000000</id>
                    <parentGroupId>38d25971-6296-36ea-0000-000000000000</parentGroupId>
                    <versionedComponentId>e74cb020-4b6c-3dcc-a91f-342f29403c5e</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>100000</backPressureObjectThreshold>
                    <bends>
                        <x>448.0</x>
                        <y>624.0</y>
                    </bends>
                    <destination>
                        <groupId>38d25971-6296-36ea-0000-000000000000</groupId>
                        <id>2046d97b-92c1-3bd2-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>2046d97b-92c1-3bd2-b692-f687173950a0</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>38d25971-6296-36ea-0000-000000000000</groupId>
                        <id>a70b3dbd-87c1-3a72-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>a70b3dbd-87c1-3a72-8345-ef9739a83231</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <controllerServices>
                    <id>479ac6b0-708a-3782-0000-000000000000</id>
                    <parentGroupId>38d25971-6296-36ea-0000-000000000000</parentGroupId>
                    <versionedComponentId>479ac6b0-708a-3782-ae93-8214db0dfb46</versionedComponentId>
                    <bundle>
                        <artifact>nifi-mongodb-services-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.15.3</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>mongo-uri</key>
                            <value>
<name>mongo-uri</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Database User</key>
                            <value>
<name>Database User</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Password</key>
                            <value>
<name>Password</name>
                            </value>
                        </entry>
                        <entry>
                            <key>ssl-context-service</key>
                            <value>
<identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
<name>ssl-context-service</name>
                            </value>
                        </entry>
                        <entry>
                            <key>ssl-client-auth</key>
                            <value>
<name>ssl-client-auth</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>DockerLocalMongoDBControllerService</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>mongo-uri</key>
                            <value>mongodb://pulsar1:27017</value>
                        </entry>
                        <entry>
                            <key>Database User</key>
                            <value>debezium</value>
                        </entry>
                        <entry>
                            <key>Password</key>
                        </entry>
                        <entry>
                            <key>ssl-context-service</key>
                        </entry>
                        <entry>
                            <key>ssl-client-auth</key>
                            <value>REQUIRED</value>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.mongodb.MongoDBControllerService</type>
                </controllerServices>
                <funnels>
                    <id>aab49a94-5bf9-360a-0000-000000000000</id>
                    <parentGroupId>38d25971-6296-36ea-0000-000000000000</parentGroupId>
                    <position>
                        <x>-96.0</x>
                        <y>328.0</y>
                    </position>
                    <versionedComponentId>aab49a94-5bf9-360a-b847-10ea83cad568</versionedComponentId>
                </funnels>
                <funnels>
                    <id>d740ccaf-aa2e-3b3d-0000-000000000000</id>
                    <parentGroupId>38d25971-6296-36ea-0000-000000000000</parentGroupId>
                    <position>
                        <x>1381.0</x>
                        <y>186.0</y>
                    </position>
                    <versionedComponentId>d740ccaf-aa2e-3b3d-bea1-71f33a68e8bd</versionedComponentId>
                </funnels>
                <processors>
                    <id>088f18d3-b673-3ece-0000-000000000000</id>
                    <parentGroupId>38d25971-6296-36ea-0000-000000000000</parentGroupId>
                    <position>
                        <x>1488.0</x>
                        <y>256.0</y>
                    </position>
                    <versionedComponentId>088f18d3-b673-3ece-ac0b-4e5ceeca7c23</versionedComponentId>
                    <bundle>
                        <artifact>nifi-pulsar-nar</artifact>
                        <group>io.streamnative.connectors</group>
                        <version>1.15.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>RECORD_READER</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
    <name>RECORD_READER</name>
</value>
                            </entry>
                            <entry>
<key>RECORD_WRITER</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
    <name>RECORD_WRITER</name>
</value>
                            </entry>
                            <entry>
<key>PULSAR_CLIENT_SERVICE</key>
<value>
    <identifiesControllerService>org.apache.nifi.pulsar.PulsarClientService</identifiesControllerService>
    <name>PULSAR_CLIENT_SERVICE</name>
</value>
                            </entry>
                            <entry>
<key>TOPIC</key>
<value>
    <name>TOPIC</name>
</value>
                            </entry>
                            <entry>
<key>ASYNC_ENABLED</key>
<value>
    <name>ASYNC_ENABLED</name>
</value>
                            </entry>
                            <entry>
<key>MAX_ASYNC_REQUESTS</key>
<value>
    <name>MAX_ASYNC_REQUESTS</name>
</value>
                            </entry>
                            <entry>
<key>BATCHING_ENABLED</key>
<value>
    <name>BATCHING_ENABLED</name>
</value>
                            </entry>
                            <entry>
<key>BATCHING_MAX_MESSAGES</key>
<value>
    <name>BATCHING_MAX_MESSAGES</name>
</value>
                            </entry>
                            <entry>
<key>BATCH_INTERVAL</key>
<value>
    <name>BATCH_INTERVAL</name>
</value>
                            </entry>
                            <entry>
<key>BLOCK_IF_QUEUE_FULL</key>
<value>
    <name>BLOCK_IF_QUEUE_FULL</name>
</value>
                            </entry>
                            <entry>
<key>COMPRESSION_TYPE</key>
<value>
    <name>COMPRESSION_TYPE</name>
</value>
                            </entry>
                            <entry>
<key>MESSAGE_ROUTING_MODE</key>
<value>
    <name>MESSAGE_ROUTING_MODE</name>
</value>
                            </entry>
                            <entry>
<key>MESSAGE_DEMARCATOR</key>
<value>
    <name>MESSAGE_DEMARCATOR</name>
</value>
                            </entry>
                            <entry>
<key>PENDING_MAX_MESSAGES</key>
<value>
    <name>PENDING_MAX_MESSAGES</name>
</value>
                            </entry>
                            <entry>
<key>MAPPED_MESSAGE_PROPERTIES</key>
<value>
    <name>MAPPED_MESSAGE_PROPERTIES</name>
</value>
                            </entry>
                            <entry>
<key>MESSAGE_KEY</key>
<value>
    <name>MESSAGE_KEY</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>RECORD_READER</key>
                            </entry>
                            <entry>
<key>RECORD_WRITER</key>
                            </entry>
                            <entry>
<key>PULSAR_CLIENT_SERVICE</key>
                            </entry>
                            <entry>
<key>TOPIC</key>
                            </entry>
                            <entry>
<key>ASYNC_ENABLED</key>
<value>false</value>
                            </entry>
                            <entry>
<key>MAX_ASYNC_REQUESTS</key>
<value>50</value>
                            </entry>
                            <entry>
<key>BATCHING_ENABLED</key>
<value>false</value>
                            </entry>
                            <entry>
<key>BATCHING_MAX_MESSAGES</key>
<value>1000</value>
                            </entry>
                            <entry>
<key>BATCH_INTERVAL</key>
<value>10 ms</value>
                            </entry>
                            <entry>
<key>BLOCK_IF_QUEUE_FULL</key>
<value>false</value>
                            </entry>
                            <entry>
<key>COMPRESSION_TYPE</key>
<value>NONE</value>
                            </entry>
                            <entry>
<key>MESSAGE_ROUTING_MODE</key>
<value>RoundRobinPartition</value>
                            </entry>
                            <entry>
<key>MESSAGE_DEMARCATOR</key>
                            </entry>
                            <entry>
<key>PENDING_MAX_MESSAGES</key>
<value>1000</value>
                            </entry>
                            <entry>
<key>MAPPED_MESSAGE_PROPERTIES</key>
<value></value>
                            </entry>
                            <entry>
<key>MESSAGE_KEY</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PublishPulsarRecord</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.pulsar.pubsub.PublishPulsarRecord</type>
                </processors>
                <processors>
                    <id>2046d97b-92c1-3bd2-0000-000000000000</id>
                    <parentGroupId>38d25971-6296-36ea-0000-000000000000</parentGroupId>
                    <position>
                        <x>272.0</x>
                        <y>656.0</y>
                    </position>
                    <versionedComponentId>2046d97b-92c1-3bd2-b692-f687173950a0</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.15.3</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Directory</key>
<value>
    <name>Directory</name>
</value>
                            </entry>
                            <entry>
<key>Conflict Resolution Strategy</key>
<value>
    <name>Conflict Resolution Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Create Missing Directories</key>
<value>
    <name>Create Missing Directories</name>
</value>
                            </entry>
                            <entry>
<key>Maximum File Count</key>
<value>
    <name>Maximum File Count</name>
</value>
                            </entry>
                            <entry>
<key>Last Modified Time</key>
<value>
    <name>Last Modified Time</name>
</value>
                            </entry>
                            <entry>
<key>Permissions</key>
<value>
    <name>Permissions</name>
</value>
                            </entry>
                            <entry>
<key>Owner</key>
<value>
    <name>Owner</name>
</value>
                            </entry>
                            <entry>
<key>Group</key>
<value>
    <name>Group</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Directory</key>
<value>/dev/null</value>
                            </entry>
                            <entry>
<key>Conflict Resolution Strategy</key>
<value>ignore</value>
                            </entry>
                            <entry>
<key>Create Missing Directories</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Maximum File Count</key>
                            </entry>
                            <entry>
<key>Last Modified Time</key>
                            </entry>
                            <entry>
<key>Permissions</key>
                            </entry>
                            <entry>
<key>Owner</key>
                            </entry>
                            <entry>
<key>Group</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Store File</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.PutFile</type>
                </processors>
                <processors>
                    <id>95fb08ef-d359-30f8-0000-000000000000</id>
                    <parentGroupId>38d25971-6296-36ea-0000-000000000000</parentGroupId>
                    <position>
                        <x>264.0</x>
                        <y>264.0</y>
                    </position>
                    <versionedComponentId>95fb08ef-d359-30f8-895a-24445cc29f0c</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.15.3</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>record-reader</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
    <name>record-reader</name>
</value>
                            </entry>
                            <entry>
<key>record-writer</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
    <name>record-writer</name>
</value>
                            </entry>
                            <entry>
<key>include-zero-record-flowfiles</key>
<value>
    <name>include-zero-record-flowfiles</name>
</value>
                            </entry>
                            <entry>
<key>cache-schema</key>
<value>
    <name>cache-schema</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>
    <name>dbf-default-precision</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>
    <name>dbf-default-scale</name>
</value>
                            </entry>
                            <entry>
<key>all</key>
<value>
    <name>all</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>record-reader</key>
<value>2b1e4a8e-a12e-35ee-0000-000000000000</value>
                            </entry>
                            <entry>
<key>record-writer</key>
<value>5c0c576d-4749-3c15-0000-000000000000</value>
                            </entry>
                            <entry>
<key>include-zero-record-flowfiles</key>
<value>false</value>
                            </entry>
                            <entry>
<key>cache-schema</key>
<value>true</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>10</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>0</value>
                            </entry>
                            <entry>
<key>all</key>
<value>SELECT * 
FROM FLOWFILE
WHERE CAST(equivalentco2ppm as FLOAT) &gt; 300
</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Filter, Route, Transform</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>all</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.QueryRecord</type>
                </processors>
                <processors>
                    <id>a5d7237e-4741-384a-0000-000000000000</id>
                    <parentGroupId>38d25971-6296-36ea-0000-000000000000</parentGroupId>
                    <position>
                        <x>256.0</x>
                        <y>80.0</y>
                    </position>
                    <versionedComponentId>a5d7237e-4741-384a-ae85-edcee7dd05ef</versionedComponentId>
                    <bundle>
                        <artifact>nifi-pulsar-nar</artifact>
                        <group>io.streamnative.connectors</group>
                        <version>1.15.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Record Reader</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
    <name>Record Reader</name>
</value>
                            </entry>
                            <entry>
<key>Record Writer</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
    <name>Record Writer</name>
</value>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>
    <name>Max Wait Time</name>
</value>
                            </entry>
                            <entry>
<key>PULSAR_CLIENT_SERVICE</key>
<value>
    <identifiesControllerService>org.apache.nifi.pulsar.PulsarClientService</identifiesControllerService>
    <name>PULSAR_CLIENT_SERVICE</name>
</value>
                            </entry>
                            <entry>
<key>TOPICS</key>
<value>
    <name>TOPICS</name>
</value>
                            </entry>
                            <entry>
<key>TOPICS_PATTERN</key>
<value>
    <name>TOPICS_PATTERN</name>
</value>
                            </entry>
                            <entry>
<key>SUBSCRIPTION_NAME</key>
<value>
    <name>SUBSCRIPTION_NAME</name>
</value>
                            </entry>
                            <entry>
<key>CONSUMER_NAME</key>
<value>
    <name>CONSUMER_NAME</name>
</value>
                            </entry>
                            <entry>
<key>ASYNC_ENABLED</key>
<value>
    <name>ASYNC_ENABLED</name>
</value>
                            </entry>
                            <entry>
<key>MAX_ASYNC_REQUESTS</key>
<value>
    <name>MAX_ASYNC_REQUESTS</name>
</value>
                            </entry>
                            <entry>
<key>ACK_TIMEOUT</key>
<value>
    <name>ACK_TIMEOUT</name>
</value>
                            </entry>
                            <entry>
<key>PRIORITY_LEVEL</key>
<value>
    <name>PRIORITY_LEVEL</name>
</value>
                            </entry>
                            <entry>
<key>RECEIVER_QUEUE_SIZE</key>
<value>
    <name>RECEIVER_QUEUE_SIZE</name>
</value>
                            </entry>
                            <entry>
<key>SUBSCRIPTION_TYPE</key>
<value>
    <name>SUBSCRIPTION_TYPE</name>
</value>
                            </entry>
                            <entry>
<key>CONSUMER_BATCH_SIZE</key>
<value>
    <name>CONSUMER_BATCH_SIZE</name>
</value>
                            </entry>
                            <entry>
<key>MESSAGE_DEMARCATOR</key>
<value>
    <name>MESSAGE_DEMARCATOR</name>
</value>
                            </entry>
                            <entry>
<key>MAPPED_FLOWFILE_ATTRIBUTES</key>
<value>
    <name>MAPPED_FLOWFILE_ATTRIBUTES</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Record Reader</key>
<value>2b1e4a8e-a12e-35ee-0000-000000000000</value>
                            </entry>
                            <entry>
<key>Record Writer</key>
<value>5c0c576d-4749-3c15-0000-000000000000</value>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>5 seconds</value>
                            </entry>
                            <entry>
<key>PULSAR_CLIENT_SERVICE</key>
<value>53f1d1df-3205-364a-0000-000000000000</value>
                            </entry>
                            <entry>
<key>TOPICS</key>
<value>persistent://public/default/garden3</value>
                            </entry>
                            <entry>
<key>TOPICS_PATTERN</key>
                            </entry>
                            <entry>
<key>SUBSCRIPTION_NAME</key>
<value>nifi-garden3-consumer-sub</value>
                            </entry>
                            <entry>
<key>CONSUMER_NAME</key>
<value>nifi-garden3-consumer</value>
                            </entry>
                            <entry>
<key>ASYNC_ENABLED</key>
<value>false</value>
                            </entry>
                            <entry>
<key>MAX_ASYNC_REQUESTS</key>
<value>50</value>
                            </entry>
                            <entry>
<key>ACK_TIMEOUT</key>
<value>30 sec</value>
                            </entry>
                            <entry>
<key>PRIORITY_LEVEL</key>
<value>5</value>
                            </entry>
                            <entry>
<key>RECEIVER_QUEUE_SIZE</key>
<value>1000</value>
                            </entry>
                            <entry>
<key>SUBSCRIPTION_TYPE</key>
<value>Shared</value>
                            </entry>
                            <entry>
<key>CONSUMER_BATCH_SIZE</key>
<value>1000</value>
                            </entry>
                            <entry>
<key>MESSAGE_DEMARCATOR</key>
<value>
</value>
                            </entry>
                            <entry>
<key>MAPPED_FLOWFILE_ATTRIBUTES</key>
<value></value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Consume Pulsar Records -garden3</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>parse_failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.pulsar.pubsub.ConsumePulsarRecord</type>
                </processors>
                <processors>
                    <id>a70b3dbd-87c1-3a72-0000-000000000000</id>
                    <parentGroupId>38d25971-6296-36ea-0000-000000000000</parentGroupId>
                    <position>
                        <x>272.0</x>
                        <y>464.0</y>
                    </position>
                    <versionedComponentId>a70b3dbd-87c1-3a72-8345-ef9739a83231</versionedComponentId>
                    <bundle>
                        <artifact>nifi-mongodb-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.15.3</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>mongo-client-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.mongodb.MongoDBClientService</identifiesControllerService>
    <name>mongo-client-service</name>
</value>
                            </entry>
                            <entry>
<key>Mongo URI</key>
<value>
    <name>Mongo URI</name>
</value>
                            </entry>
                            <entry>
<key>Mongo Database Name</key>
<value>
    <name>Mongo Database Name</name>
</value>
                            </entry>
                            <entry>
<key>Mongo Collection Name</key>
<value>
    <name>Mongo Collection Name</name>
</value>
                            </entry>
                            <entry>
<key>ssl-context-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>ssl-context-service</name>
</value>
                            </entry>
                            <entry>
<key>ssl-client-auth</key>
<value>
    <name>ssl-client-auth</name>
</value>
                            </entry>
                            <entry>
<key>Write Concern</key>
<value>
    <name>Write Concern</name>
</value>
                            </entry>
                            <entry>
<key>record-reader</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
    <name>record-reader</name>
</value>
                            </entry>
                            <entry>
<key>insert_count</key>
<value>
    <name>insert_count</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>mongo-client-service</key>
<value>479ac6b0-708a-3782-0000-000000000000</value>
                            </entry>
                            <entry>
<key>Mongo URI</key>
                            </entry>
                            <entry>
<key>Mongo Database Name</key>
<value>inventory</value>
                            </entry>
                            <entry>
<key>Mongo Collection Name</key>
<value>garden3</value>
                            </entry>
                            <entry>
<key>ssl-context-service</key>
                            </entry>
                            <entry>
<key>ssl-client-auth</key>
<value>REQUIRED</value>
                            </entry>
                            <entry>
<key>Write Concern</key>
<value>ACKNOWLEDGED</value>
                            </entry>
                            <entry>
<key>record-reader</key>
<value>2b1e4a8e-a12e-35ee-0000-000000000000</value>
                            </entry>
                            <entry>
<key>insert_count</key>
<value>100</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutMongoRecord</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.mongodb.PutMongoRecord</type>
                </processors>
                <processors>
                    <id>bee76dfd-8026-3186-0000-000000000000</id>
                    <parentGroupId>38d25971-6296-36ea-0000-000000000000</parentGroupId>
                    <position>
                        <x>1312.0</x>
                        <y>-176.0</y>
                    </position>
                    <versionedComponentId>bee76dfd-8026-3186-88ef-c7dfb56e278f</versionedComponentId>
                    <bundle>
                        <artifact>nifi-mongodb-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.15.3</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>mongo-client-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.mongodb.MongoDBClientService</identifiesControllerService>
    <name>mongo-client-service</name>
</value>
                            </entry>
                            <entry>
<key>get-mongo-record-writer-factory</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
    <name>get-mongo-record-writer-factory</name>
</value>
                            </entry>
                            <entry>
<key>Mongo Database Name</key>
<value>
    <name>Mongo Database Name</name>
</value>
                            </entry>
                            <entry>
<key>Mongo Collection Name</key>
<value>
    <name>Mongo Collection Name</name>
</value>
                            </entry>
                            <entry>
<key>mongodb-schema-name</key>
<value>
    <name>mongodb-schema-name</name>
</value>
                            </entry>
                            <entry>
<key>mongo-query-attribute</key>
<value>
    <name>mongo-query-attribute</name>
</value>
                            </entry>
                            <entry>
<key>Query</key>
<value>
    <name>Query</name>
</value>
                            </entry>
                            <entry>
<key>Projection</key>
<value>
    <name>Projection</name>
</value>
                            </entry>
                            <entry>
<key>Sort</key>
<value>
    <name>Sort</name>
</value>
                            </entry>
                            <entry>
<key>Limit</key>
<value>
    <name>Limit</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>mongo-client-service</key>
                            </entry>
                            <entry>
<key>get-mongo-record-writer-factory</key>
                            </entry>
                            <entry>
<key>Mongo Database Name</key>
                            </entry>
                            <entry>
<key>Mongo Collection Name</key>
                            </entry>
                            <entry>
<key>mongodb-schema-name</key>
<value>${schema.name}</value>
                            </entry>
                            <entry>
<key>mongo-query-attribute</key>
                            </entry>
                            <entry>
<key>Query</key>
                            </entry>
                            <entry>
<key>Projection</key>
                            </entry>
                            <entry>
<key>Sort</key>
                            </entry>
                            <entry>
<key>Limit</key>
                            </entry>
                            <entry>
<key>Batch Size</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>GetMongoRecord</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.mongodb.GetMongoRecord</type>
                </processors>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>100000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>Gas Thermal Processing</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>03/14/2022 12:56:32 EDT</timestamp>
</template>
